@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  background-color: #2f4858; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 50; }

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 3em;
  font-weight: 100;
  text-align: center;
  padding-top: 20px; }

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  font-weight: 100;
  color: #A2AAAD;
  text-align: center; }

p {
  font-family: "Roboto Condensed", sans-serif; }

.top-menu {
  position: fixed;
  top: 200px;
  width: 150px;
  overflow: hidden;
  background-color: #020202;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif; }

.top-menu a {
  text-align: center;
  color: white;
  display: block;
  padding: 20px 40px;
  text-decoration: none;
  font-size: 1em; }

.top-menu a:hover {
  background-color: #4a728b; }

.top-menu a.active {
  background-color: #4a728b;
  color: black; }

.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: auto; }

header {
  margin-bottom: 20px; }

#home {
  background-image: url("Images/splashImgLg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  height: 500px;
  width: 100%;
  margin: auto;
  text-align: center; }

#name {
  top: 400px; }

#bio {
  padding-top: 20px;
  width: 75%;
  height: 900px;
  margin: auto;
  background-color: white; }
  #bio hr {
    width: 50%;
    text-align: center; }

.mainContainer {
  padding: 20px;
  margin: auto;
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-around; }

#bioDiv1 {
  width: 25%;
  height: 200px; }
  #bioDiv1 p {
    word-wrap: normal; }

#bioDiv2 {
  width: 25%; }
  #bioDiv2 #headshot {
    width: 300px;
    clip-path: circle(36.5% at 50% 58%); }
  #bioDiv2 #bioDiv3 {
    height: 200px;
    width: 25%; }

#skills {
  padding-top: 20px;
  width: 75%;
  height: 1000px;
  margin: auto;
  background: #A2AAAD; }
  #skills h2 {
    color: #E8E9EB; }
  #skills hr {
    width: 50%;
    text-align: center; }

.skillsContainer {
  display: flex;
  width: 40%;
  margin: 0 auto;
  flex-direction: column; }

.skills {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white; }

@keyframes load {
  from {
    width: 0%; } }
@-webkit-keyframes load {
  from {
    width: 0%; } }
@-moz-keyframes load {
  from {
    width: 0%; } }
@-o-keyframes load {
  from {
    width: 0%; } }
.bar {
  background-color: #EEE;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }

.bar::before {
  content: attr(data-skill);
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00b7ea+0,009ec3+100;Blue+3D+%2315 */
  background: #00b7ea;
  /* Old browsers */
  background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #00b7ea 0%, #009ec3 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b7ea', endColorstr='#009ec3', GradientType=0);
  /* IE6-9 */
  display: inline-block;
  padding: 10px 0 10px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s; }

.bar.front::before {
  background-color: #718F94; }

.bar.back::before {
  background-color: #a6cfe3; }

.bar::before {
  width: calc(20% - 10px); }

.bar.basic::before {
  width: calc(40% - 10px); }

.bar.learning::before {
  width: calc(20% - 10px); }

.bar.intermediate::before {
  width: calc(60% - 10px); }

.bar.advanced::before {
  width: calc(80% - 10px); }

.bar.expert::before {
  width: calc(100% - 10px); }

/* Dark Grey */
#education {
  padding-top: 20px;
  width: 75%;
  height: 700px;
  margin: auto;
  background: white; }
  #education hr {
    width: 50%;
    text-align: center; }

.educationDiv {
  width: 100%;
  height: 500px; }
  .educationDiv h4 {
    font-family: "Roboto", sans-serif;
    font-size: 1.25em; }
  .educationDiv hr {
    width: 100%; }

#softSkills {
  padding-top: 20px;
  width: 75%;
  height: 700px;
  margin: auto;
  background: #A2AAAD;
  font-family: "Roboto Condensed", sans-serif; }
  #softSkills h2 {
    color: #E8E9EB; }
  #softSkills hr {
    width: 50%;
    text-align: center; }
  #softSkills p {
    color: #E8E9EB; }

.softSkill {
  flex-direction: column; }

#experience {
  padding-top: 20px;
  width: 75%;
  height: 700px;
  margin: auto;
  background: #555; }
  #experience h2 {
    color: #E8E9EB; }
  #experience h4 {
    font-family: "Roboto Condensed", sans-serif;
    color: #E8E9EB; }
  #experience p {
    color: #E8E9EB; }
  #experience hr {
    width: 50%;
    text-align: center; }

#contact {
  padding-top: 20px;
  width: 75%;
  height: 500px;
  margin: auto;
  background: white; }
  #contact h2 {
    color: black; }
  #contact hr {
    width: 50%;
    text-align: center; }
  #contact a {
    color: black; }

/*# sourceMappingURL=stylesheet.css.map */
